.trainer-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Spinner*/
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
