.all-trainers-view-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  padding: 100px 1rem 20px 1rem;
}

.all-trainers-view-container h1 {
  font-size: 2.5rem;
  color: var(--color-text);
  margin: 20px 0;
  text-align: center;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.top-section {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 20px;
  text-align: center;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  margin: 0 auto;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
}

.search-container input,
.search-container select {
  padding: 10px 14px;
  font-size: 1rem;
  border: 1px solid var(--color-details);
  border-radius: 8px;
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  min-width: 200px;
  flex: 1;
}

.search-container input {
  flex: 5;
}

.search-container input::placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

.search-container select {
  flex: 3;
}

.search-container input:focus,
.search-container select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/*TRAINERS*/

.all-trainers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  justify-items: center;
  padding: 0 20px;
}

/*CARD*/

.trainer-card {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--color-details);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-details);
  overflow: hidden;
  min-height: 220px;
  margin: 0 auto;
}

.trainer-image-container {
  width: 50%;
  height: 100%;
}

.trainer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.trainer-information-container {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainer-info-top h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-text);
}

.trainer-info-top span {
  margin-top: 8px;
  color: var(--color-secondary);
  display: block;
}

.trainer-information-container button {
  align-self: flex-start;
  padding: 8px 16px;
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.trainer-info button:hover {
  background-color: var(--color-secondary);
}

.trainer-specialties p {
  margin: 4px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.trainer-specialty-pair {
  color: var(--color-secondary);
}

.trainer-specialty-odd {
  color: var(--color-details);
}

/* PAGINATION */

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.pagination span {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--color-details);
  color: var(--color-text);
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.pagination span:hover:not(.disabled) {
  background-color: var(--color-secondary);
  color: #fff;
}

.pagination .disabled {
  color: #aaa;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
}

.page-size-selector select {
  margin-top: -10px;
  padding: 10px 14px;
  height: 40px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-details);
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.page-size-selector select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.no-trainers-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .all-trainers-view-container h1 {
    font-size: 2rem;
  }

  .search-container {
    display: block;
    width: 100%;
    padding: 0 10px;
  }

  .search-container input,
  .search-container select {
    margin: 8px auto;
    padding: 8px 12px;
    font-size: 0.9rem;
    width: 100%;
    flex: 1;
  }

  .all-trainers-container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .trainer-card {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .trainer-card h2 {
    font-size: 1.3rem;
  }
}
